<div class="top_content">
  <div class="contents1">
    <br>
    <h1>ようこそ！！MamaPapaへ!</h1>
    <br>
    <br>
    <h3>このアプリは育児支援アプリです！</h3>
    <br>
    <br>
    <h3>子供と遊びに行った場所、おすすめの病院などの情報をシェアしましょう！</h3>
    <br>
    <br>
    <h3>良かったところのメモとして、遊びに行く場所の検索ツールとして活用できます</h3>
    <br>
    <br>
    <h3>近所の穴場スポットがみつかるかもしません！</h3>
    <br>
    <br>
    <h3>あなたの子育てに少しでもお役に立てたら幸いです…</h3>
    <br>
  </div>
  <div class="contents2">
    <li><%= image_tag "toukou.png",class:"contents_img" %></li>
    <li><%= image_tag "shousai.png",class:"contents_img" %></li>
    <li><%= image_tag "contents1_img.png",class:"contents_img" %></li>
    <li><%= image_tag "user.png",class:"contents_img" %></li>
    <li><%= image_tag "okiniiri.png",class:"contents_img" %></li>
    <li><%= image_tag "massege.png",class:"contents_img" %></li>
  </div>
</div>
