<%= form_with model: @user, local:true do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
  
    <%= image_tag @user.image.url ,class: "edit-user" if @user.image && @user.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="name_field">
    <br><%= f.label :name %>
    <br><%= f.text_field :name ,placeholder:"名前を入力" %>
  </div>
  <div class="email_field">
    <br><%= f.label :email %>
    <br><%= f.email_field :email ,placeholder:"snmple@sample.com" %>
  </div>
  <div class="password_field">
    <br><%= f.label :password %>
    <br><%= f.password_field :password ,placeholder:"6字以上で入力してください"  %>
  </div>
  <div class="password_confirmation_field">
    <br><%= f.label :password_confirmation %>
    <br><%= f.password_field :password_confirmation,placeholder:"確認用、もう一度入力してくさい"  %>
  </div>
  <br><%= f.submit "プロフィール編集完了" %>

<%end%>
