<%= form_with model: @user, url:user_path do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= image_tag @user.image.url if @user.image && @user.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="name_field">
    <br><%= f.label :name %>
    <br><%= f.text_field :name %>
  </div>
  <div class="email_field">
    <br><%= f.label :email %>
    <br><%= f.email_field :email %>
  </div>
  <div class="password_field">
    <br><%= f.label :password %>
    <br><%= f.password_field :password %>
  </div>
  <div class="password_confirmation_field">
    <br><%= f.label :password_confirmation %>
    <br><%= f.password_field :password_confirmation %>
  </div>
  <br><%= f.submit "プロフィール編集完了" %>

<%end%>
