<div class="paginate">
  <strong><%= paginate @users %></strong>
</div>
<div class="follow">
  <div class="follower_container">
    <h3>フォロー</h3>
    <% @users.each do |follower| %>
      <div class="follow-contents">
        <table class="follow-table">
          <%= link_to user_path(follower) do %>
          <tr>
            <% if follower.image? %>
              <th><%= image_tag follower.image.url, class:'follow-icon' %></th>
            <% else %>
              <th><%= image_tag "noimagehito.png", class:'follow-icon' %></th>
            <% end %>
            <td><%= follower.name %></td>
            <% end %>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
