    <% if @user.id == current_user.id %>
    <h1>プロフィール画面</h1>
    <%else%>
    <h1><%= @user.name %>のページ</h1>
    <% end %>
    <% if @user.image? %>
    <p class="img-circle"><%= image_tag(@user.image.url, class:"user_show_icon") if @user.image && @user.image.url %></p>
    <% else %>
     <%= image_tag "noimagehito.png", class:"user_show_icon"%>
     <% end %>
    <% if  current_user.id ==  params[:id].to_i%>
    <p><%= link_to 'プロフィール編集', edit_user_path(@user.id) , class: 'btn btn-primary'%></p>
    <% end %>
    <p><%= link_to 'お気に入り一覧へ',  favorites_path,class:"btn btn-info" %></p>
    <% unless @user == current_user %>
      <%= render 'follow_form', user:@user %>
      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post %>
    <% end %>
    <%= link_to "フォロー:#{@user.following.count}", following_user_path(@user) %>
    <%= link_to "フォロワー:#{@user.followers.count}", followers_user_path(@user) %>
      <div class="item">

     </div>
<% if @facilities.blank? %>
  <p>↓↓下記に投稿が表示されます↓↓</p>
<% else %>
  <p>↓↓投稿一覧↓↓</p>
  <div class="contents">

      <% @facilities.each do |facility|%>
        <table class="post_facility" style = "width:80%">
          <tr>
            <th rowspan="7"><%= image_tag (facility.image.url(:thumb).to_s)if facility.image && facility.image.url %></th>
          </tr>
          <tr>
            <td><strong>投稿者</strong></td>
            <td><%= facility.user.name=%></td>
          </tr>
          <tr>
            <td><strong>施設名</strong></td>
            <td><%= facility.title %></td>
            <td><%= link_to '詳細へ', facility_path(facility.id), class:"btn btn-info btn-sm"%></td>
          </tr>
          <tr>
            <td><strong>タイプ</strong></td>
            <td><%= facility.types %></td>
            <% if facility.user_id == current_user.id %>
            <td><%= link_to '削徐', facility_path(facility.id), class:"btn btn-danger btn-sm",method: :delete,data:{ confirm: '本当に削除していいですか？' } %></td>
            <% end %>
          </tr>
          <tr>
            <td><strong>都道府県</strong></td>
            <td><%= facility.prefecture %></td>
            <% if facility.user_id == current_user.id %>
            <td><%= link_to '編集へ', edit_facility_path(facility.id),class:"btn btn-success btn-sm"%></td>
            <% end %>
          </tr>
          <tr>
            <td><strong>住所</strong></td>
            <td><%= facility.address %></td>
          </tr>
          <tr>
            <td><strong>レビュー</strong></td>
            <td><%= facility.content %></td>
          </tr>
      </table>
    <% end %>
  </div>
<% end %>
