<% if @facility.errors.any? %>
  <div id="error_explanation">
    <h2><%= @facility.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @facility.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @facility, local: true, url: choose_new_or_edit  ) do |form| %>
  <div class="title">
    <br><%= form.label :施設名 %>
    <br><%= form.text_field :title %>
  </div>
  <div class="content">
    <br><%= form.label :レビュー %>
    <br><%= form.text_field :content %>
  </div>
  <div class="types">
    <br><%= form.label :施設タイプ%>
    <br><%= form.text_field :types %>
  </div>
  <div class="prefecture">
    <br><%= form.label :prefecture%>
    <br><%= form.text_field :prefecture %>
  </div>
  <div class="address">
    <br><%= form.label :address%>
    <br><%= form.text_field :address %>
  </div>
  <div class=image">
    <br><%= form.label :image %>
    <br><%= form.file_field :image %>
    <br><%= form.hidden_field :image_cache %>
</div>

  <%= form.submit %>
<% end %>
