<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @facility, local: true ) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :types %>
  <%= form.hidden_field :prefecture %>
  <%= form.hidden_field :address %>
  <%= image_tag (@facility.image.url)if @facility.image && @facility.image.url %>
  <%= form.hidden_field :image_cache %>
  <p>タイトル:<%= @facility.title %></p>
  <p>施設タイプ<%= @facility.types %></p>
  <p>都道府県<%= @facility.prefecture %></p>
  <p>住所<%= @facility.address %></p>
  <p>レビュー:<%= @facility.content %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る" ,name:'back' %>
<% end %>
