<h2 class="text-center">施設投稿一覧</h2>
<div class="text-center">
<div class="search_field">
  <%= search_form_for @q, url: search_facilities_path do |f| %>
    <strong><%= f.label :title_cont, '施設名・住所' %></strong>
    <strong><%= f.search_field :title_cont,placeholder:"施設名のを入力" %></strong>
    <strong><%= f.search_field :prefecture_cont,placeholder:"住所を入力" %></strong>
    <strong><%= f.submit '検索' %></strong>
  <% end %>
</div>
<div class="paginate">
  <strong><%= paginate @facilities %></strong>
</div>
<div class="contents">
  <% @facilities.each do |facility|%>
    <table class="post_facility" style = "width:100%">
      <tr>
        <td rowspan="6"><%= image_tag (facility.image.url(:thumb).to_s)if facility.image && facility.image.url %></td>
        <td class="text-center" >
          <br><strong>投稿者</strong><%= facility.user.name=%>
          <br><strong>施設名</strong>:<%= facility.title %>
          <br><strong>レビュー</strong>:<%= facility.content %>
          <br><strong>タイプ</strong>:<%= facility.types %>
          <br><strong>都道府県</strong>:<%= facility.prefecture %>
          <br><strong>住所</strong>:<%= facility.address %>
        </td>
        <td><%= link_to '詳細へ', facility_path(facility.id)%></td>
        <% if facility.user_id == current_user.id %>
          <td><%= link_to '編集へ', edit_facility_path(facility.id)%></td>
          <td><%= link_to '削徐', facility_path(facility.id), method: :delete,data:{ confirm: '本当に削除していいですか？' } %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
</div>
