<th><%= link_to "HOME", facilities_path  %></th>
<th><%= link_to '新規投稿', new_facility_path%></th>
<h2>施設投稿一覧</h2>
<p><%= notice %></p>
<table>
  <tr>
    <th>画像</th>
    <th>施設名</th>
    <th>レビュー</th>
    <th>タイプ</th>
    <th>都道府県</th>
    <th>住所</th>
  <tr>
  <% @facilities.each do |facility|%>
    <tr>
      <td> <%= image_tag (facility.image.url)if facility.image && facility.image.url %></td>
      <td><%= facility.title %> </td>
      <td><%= facility.content %> </td>
      <td><%= facility.types %> </td>
      <td><%= facility.prefecture %> </td>
      <td><%= facility.address %> </td>
      <td><%= link_to '詳細へ', facility_path(facility.id)%></td>
      <td><%= link_to '編集へ', edit_facility_path(facility.id)%></td>
      <td><%= link_to '削徐', facility_path(facility.id), method: :delete,data:{ confirm: '本当に削除していいですか？' } %></td>
  <% end %>
    </tr>
</table>
