<h1>検索結果</h1>
<% if @results.present? %>
  <div class="contents">
    <% @results.each do |facility|%>
      <table class="post_facility" >
        <tr>
          <% if facility.image? %>
            <th rowspan="7"><%= image_tag (facility.image.url),class:'index_img' if facility.image && facility.image.url %></th>
          <% else %>
            <th rowspan="7"><%= image_tag "noimagefuukei.png", class:"facility_index_icon" %>
          <% end %>
        </tr>
        <tr>
          <td><strong>投稿者</strong></td>
          <td><%=link_to "#{facility.user.name}", user_path(facility.user.id), class:"btn btn-light" %></td>
        <tr>
          <td><strong>施設名</strong></td>
          <td class="facility_low"><%= facility.title %></td>
          <td><%= link_to '詳細へ', facility_path(facility.id), class:"btn btn-info btn-sm"%></td>
        </tr>
        <tr>
          <td><strong>タイプ</strong></td>
          <td><%= facility.types %></td>
          <% if facility.user_id == current_user.id %>
            <td><%= link_to '編集へ', edit_facility_path(facility.id),class:"btn btn-success btn-sm"%></td>
          <% end %>
        </tr>
        <tr>
          <td><strong>都道府県</strong></td>
          <td><%= facility.prefecture %></td>
          <% if facility.user_id == current_user.id %>
            <td><%= link_to '削徐', facility_path(facility.id), class:"btn btn-danger btn-sm",method: :delete,data:{ confirm: '本当に削除していいですか？' } %></td>
          <% end %>
        </tr>
        <tr>
          <td><strong>住所</strong></td>
          <td><%= facility.address %></td>
        </tr>
        <tr>
          <td><strong>レビュー</strong></td>
          <td class="contents"><%= facility.content %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% else %>
    <p>該当する投稿は見つかりませんでした🙇。</p>
    <p><%= link_to "一覧へ戻る", facilities_path, class:'btn btn-info'%></p>
<% end %>
